.App {
  margin-top: 200px;
  text-align: center;
  background-color: black;
  color: white;
  border: 1px solid greenyellow;
}

h1 {
  border: 3px solid white;
  background: linear-gradient(90deg, rgb(7, 255, 111) 0%, rgb(169, 255, 205) 100%);
}

span {
  color: black;
}

img {
  align-items: center;
}
